@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
    margin: 0;
    overflow: hidden;
    font-family: 'Amatic SC', cursive;
}

.overlay {
    opacity: 1;
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: opacity 1s;
}

.overlay.fade {
    opacity: 0;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: transparent;
    font-family: 'Amatic SC';
    font-size: 2rem;
    opacity: 1;
    transition: opacity 1s;
}

.loading.fade {
    opacity: 0;
}

.start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    color: white;
    background-color: transparent;
    font-size: 4rem;
    font-family: 'Amatic SC';
    opacity: 0;
    transition: opacity 0.5s;
    display: none;
}

.start.fadeIn {
    opacity: 1;
}

.start.fadeOut {
    opacity: 0;
}

@media (hover: hover) and (pointer: fine) {
    .start:hover {
        color: #9effe7;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    overflow: auto;
    opacity: 0;
    transition: opacity 0.6s ease;
}

.modal.fadeIn {
    opacity: 1;
    display: block;
}

.modal.fadeOut {
    opacity: 0;
}

.modal-wrapper {
    position: relative;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    color: white;
    /* Set text color to white within the modal */
}

.close {
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    color: #fff;
    /* Set the color of the button text to white */
    font-size: 20px;
    font-weight: bold;
    transition: 0.6s all;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
}

.close:hover,
.close:focus {
    background-color: rgba(255, 255, 255, 0.3);
}

.modal h1,
.modal p {
    margin: 0 0 15px 0;
}

.modal h1 {
    font-size: 30px;
    font-weight: 500;
}

.modal p {
    font-weight: 300;
}




/* ________________________ */

/* .toggle {
  width: 60px;
  height: 30px;
  border: 2px solid #e0a3f2; 
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s ease, border-color 0.3s ease;
  display: flex;
  align-items: center;
  padding: 2px;
  backdrop-filter: blur(10px);
  background: white;
   transform: rotate(-5deg);      
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.toggle-ball {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 30%, #fff, #ddd);
  box-shadow: 0 2px 6px rgba(0,0,0,0.25), inset 0 1px 3px rgba(255,255,255,0.6);
  transition: transform 0.3s ease, background 0.3s ease;
  background: #444;    
}

/* Active state (night mode on) */
/* .toggle.active {
  border-color: white;
  background: rgba(255, 221, 180, 0.15);
}

.toggle.active .toggle-ball {
  transform: translateX(30px);
  background: radial-gradient(circle at 30% 30%, #fff7e0, #f2cda3);
}


.toggle:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}


.ui-controls {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10; 
}

button, .toggle {
  z-index: 20; 
} */ 

canvas.threejs {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}


 html,body{
     font-family:helvetica neue, helvetica,arial, sens-serif; 
     font-weight: 100px; 
     display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center; }

/* POCETOKKKK kkkk */

#light-switch{
    position: absolute;
    left: 0;
    top:0;
    opacity: 0;

}

#light-switch:checked~#background{
    background-color: #ebdbac;

}
/*SHADOW WHEN IT IS ON*/
/*#light-switch:checked~#light-switch-label{*/
/*    box-shadow: 0 2px 2px #d0b57b;*/
/*}*/
#light-switch-label {
    box-shadow: 0 2px 2px #d0b57b;
}
#light-switch:checked~#light-switch-label .switch{
    box-shadow: 0 10px 10px -5px #e9dbb0 ,0 0 0 1px rgba(0,0,0,0.1),0 0 0 4px #fff4d3,0 0 0 5px rgba(0,0,0,0.1);
}
/* Linijata megu dvete */
#light-switch:checked~#light-switch-label .switch:before{
    height: 37.5px;
    top:0px;
    line-height: 37.5px;
    background: #fff4d3;
    color: #64bf60;
    text-shadow: 0 0 3px #38ff2e;

}
#light-switch:checked~#light-switch-label .switch:after{
    height: 35px;
    bottom: 5px;
    line-height: 35px;
    background: #fffaea;
    color: #d7bf95;
    box-shadow: 0 5px #d0b57b;
    text-shadow: 0 0 0 transparent;

}

/* zadniot del */
#light-switch-label{
    position: fixed;
    display: block;
    top: 20px;
    right: 20px;
    /* transform: none; */
    width: 80px;
    height: 120px;
    background-color: #fff4d3;
    border-radius: 10px;
    /* z-index: 100; */

}

/* the inner switch */
#light-switch-label .switch{
    cursor:pointer;
    height: 75px;
    width: 50px;
    background-color: #fffaea;
    position: absolute;
    top: 80%;
    left: 80%;
    margin: -75px 0 0 -50px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 10px 10px -5px rgba(233, 219, 176, 0), 0 0 0 1px rgba(0,0,0,0.1),0 0 0 4px #fff4d3, 0 0 0 5px rgba(0,0,0,0.1);
    /* box-shadow: 0 5px 5px -3px #e9dbb0, !* small glow */
    /* 0 0 0 1px rgba(0,0,0,0.1),
    0 0 0 2px #fff4d3,
    0 0 0 3px rgba(0,0,0,0.1);  */
}

#light-switch-label .switch:before{
    content:"ON";
    display: block;
    position: absolute;
    height: 35px;
    text-align: center;
    line-height: 35px;
    width: 50px;
    top: 5px;
    left: 0;
    background: #efe0b1;
    color: #bfa371;
    border-radius: 5px 5px 0 0;

}

#light-switch-label .switch:after{
    content:"OFF";
    display: block;
    position: absolute;
    height: 37.5px;
    text-align: center;
    line-height: 37.5px;
    width: 50px;
    bottom: 0px;
    left: 0;
    background: #fff4d3;
    color: #a4441a;
    text-shadow: 0 0 3px red;
    border-radius: 0 0 5px 5px;

}

#light-switch-label .screw{
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 100%;
    left: 50%;
    /*top: 50%;*/
    margin-left: -8px;
    background: #e3d4a5;
    overflow: hidden;
    box-shadow: inset 0 2px 0 rgba(0,0,0,0.15);

}

#light-switch-label .screw:before{
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 2px;
    left: 50%;
    margin-left: -1px;
    background: rgba(0,0,0,0.2);

}
#light-switch-label .screw:first-of-type{
    top:5px;
    left: 45px;
    z-index: 99999;
}

#light-switch-label .screw:last-of-type{
    bottom:5px;
    left: 45px;
    z-index: 99999;
}
.mySwitch {
    display: block; /* keep it block for layout */
    opacity: 0;     /* start transparent */
    pointer-events: none; /* so it’s not clickable while hidden */
    transition: opacity 1s ease;
}

.mySwitch.visible {
    opacity: 1;     /* fade in */
    pointer-events: auto; /* enable interaction */
}
/* .mySwitch{
    background-color: hotpink;
    width: 100px;
    height: 140px;
    position: absolute;
    align-items: center;
    text-align: center;
} */



